.title
{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.centered
{
    text-align: center;
}
.big
{
    font-size: 20px;
}
.bold
{
    font-weight: bold;
}
.white
{
    color: white;
}
.blue
{
    color: #2196F3;
}
.red
{
    color: #F44336;
}
.amber
{
    color: #FFC107;
}