<div class="row title">
  <div class="col-md-12">
    SOBA 79
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <ng2-kw-gauge [segments]="tempSegments" [labels]="tempLabels"></ng2-kw-gauge>
  </div>
  <div class="col-md-4 col-md-offset-2">
    <ng2-kw-gauge [segments]="humSegments" [labels]="humLabels"></ng2-kw-gauge>
  </div>
</div>
<div class="row white">
  <div class="col-md-6 big bold centered">TEMPERATURA</div>
  <div class="col-md-6 big bold centered">VLAGA</div>
</div>
<div class="row bold">
  <div class="col-md-6 blue centered">
    <div *ngFor="let temp of temps">{{temp}}°C</div>
  </div>
  <div class="col-md-6 red centered">
    <div *ngFor="let hum of hums">{{hum}}%RH</div>
  </div>
</div>